<div>
  <li><a routerLink="" >Home</a></li>
  <li><a routerLink="/show-log-message">Logs</a></li>

  <h1>List of products:</h1>
<ul>
  <div *ngIf="!products">Loading...</div>
  <li class="body" *ngFor="let product of products | async">
    {{product.name}} -- {{product.id}} -- {{product.brand}}

    <button class="button3" (click)="updateProduct(product)">Update</button>
    <button class="button3" (click)="deleteProduct(product)">Delete</button>
    <button class="button3" (click)="getDetails(product)">Details</button>
  </li>
</ul>

  <div>
    <h2>Test af knapper:</h2>


    <div>
      <button class="button1" (click)="getProducts(product);"><h2>Refresh list</h2></button>

      <button class="button1" (click)="getProducts();"><h2>Not working</h2></button>

      <button class="button1" (click)="getProducts();"><h2>Not working</h2></button>




      <form [formGroup]="productFormGroup" (NgSubmit)="addProduct()">
<label>
  Name
  <input type="text" formControlName="name">
</label>

        <label>
          Brand
          <input type="text" formControlName="brand">
        </label>

        <ul>
        <input type="file" (change)="uploadFile($event)">
        </ul>

        <ul>
          <button (click)="addProduct()">Add</button>
        </ul>
      </form>

    </div>

  </div>
</div>
